.edi {
    height: 100vh !important;
    overflow-x: scroll;
    z-index: 0;
}

.edi2 {
    width: 100%;
    height: auto;
    @media(max-width:1060px) {
        width: auto;
        height: 100%;
    }
}