.container {
	margin: 0;
    padding-bottom: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
}
.tabla{
    width: 700px;
    text-align: center;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.celda{
    height: 50px;
    border-bottom: #000 2px solid;
}
.button{
    width: 60%;
	height: 40px;
	margin: 5px auto;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}