.icon {
    z-index: 4;
    width: 40px !important;
    height: 40px !important;
    margin-left: 10%;
    margin-top: 5px;
    color: rgb(0, 0, 0);

    @media(max-width:1390px) {
        margin-left: 40%;
    }
}

.cont {
    position: absolute;
    display: grid;
}

.logo {
    color: black;
    margin-top: 6px;
    font-size: 2rem;
    max-height: 40px;
    z-index: 2;

    @media(max-width:1390px) {
        color: transparent;
        z-index: 0;
        font-size: 0;
    }
}

.box {
    text-align: center;
    width: 250px;
}