.btn {
    background-color: #4eb5f1;
    border: none;
    border-radius: 2em;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 5px
}

.btn:hover {
    background-color: #4095c6;
}