.p1 {
    display: flex;
    // justify-content: space-between;
}

.p3{
    width: 10%;
    justify-content: space-between;

    display: flex;
    position: absolute;
    align-items: center;
    // width: 50%;
    z-index: 3;
    margin-top: 5px;
    right: 10px;

    // flex-direction: column;
    @media(max-width:1390px) {
        flex-direction: column;
        height: 98vh;
        // margin-top: 1vh;
        margin-bottom: 1vh;
        // width: max-content;
        // margin-bottom: 2%;
        // padding: 15px;
    }
}

// .btn{
//     background-color: transparent;
//     border: none;
// }