.body {
    padding-top: 10px;
}

.header {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.title {
    margin-bottom: 0px;
    margin-top: 6px;
    margin-right: auto;
}

.modal {
    background: white;
    // width: 500px;
    // height: 600px;
    width: max-content;
    height: max-content;
    border-radius: 15px;
    padding: 15px;
}

.overlay {
    color: rgb(0, 0, 0);
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}